
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Subscribe</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">Subscribe</li>
                </ol>
                <h1 class="content_title_news">Sign to our mailing list</h1>
            </div>
        </div>

        <div class="row content_text">
            <div class="col-xs-12 content_global subscribe_content_global">
                <form action="" class="membershipForm" method="get">
                    <p class="memberFormDescription">Enter your email address and select the newletters you would like to receive</p>
                    <div class="inputSubscribeField">
                        <p><input class="inputTypeField" type="text" name="fname" placeholder="first name"></p>
                    </div>   
                    <div class="inputSubscribeField">
                        <p><input class="inputTypeField" type="text" name="fname" placeholder="last name"></p>
                    </div> 
                    <div class="inputSubscribeField">
                        <p><input class="inputTypeField" type="text" name="fname" placeholder="company name"></p>
                    </div> 
                    <div class="inputSubscribeField">
                        <p><input class="inputTypeField" type="text" name="fname" placeholder="email address"></p>
                    </div>
                        <div class="inputSubscribeField">
                            <input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span>GALA EVENTS</span>
                            <Br>
                        </div>
                        <div class="inputSubscribeField">
                            <input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span>OTHER EVENTS</span>
                            <Br>
                        </div>
                        <div class="inputSubscribeField">
                            <input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span>GALA NEWS DEVELOPMENTS</span>
                            <Br>
                        </div>
                        <div class="inputSubscribeField">
                            <input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span>GALA PRESS RELEASES</span>
                            <Br>
                        </div>
                        <div class="inputSubscribeField">
                            <input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span>GALA GAZETTE</span>
                        </div>
                        <div class="agreeofuseField inputSubscribeField">
                            @*<input class="inputCheckboxes" type="checkbox" name="option1" value="a1">
                            <span class="agreeofuse">I agree to the <a href="~/TermAndPrivacy/TermOfUse">Terms of Use</a>.</span>*@
                            <div class="g-recaptcha" data-sitekey="6LdH6xoTAAAAAPsjdN2PZ5PSlpUfQqhxk7CXf3gN"></div>
                        </div>
                    <input type="submit" class="formSubscribeButtom" value="Sign Up">

                </form>

            </div>

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>

</section>


@section scripts{
<script src='https://www.google.com/recaptcha/api.js'></script>
}


